.image-style {
    height:200px;
    width:200px;
}

.details-page {
    height:400px;
    width:100%;
}

.right-corner {
    float:right;
}

.content-place {
    width:80%;
}

.card-style {
    width: 85%;
    margin:0px auto;
}

.loading {
    height:800px;
}

.content-mobile {
    height: 83%;
    padding-right: 30px;
    padding-top: 5px;
}

.price-post {
    padding-right: 10px;
    padding-top: 120px;
}

@media only screen and (max-width: 768px) {
    .content-mobile {
        display: none;
    }
}

.wrapper-details {
    margin-bottom: 40px;
}

.image-button {
    background-color: transparent;
    border: none;
}

.container-up-left{
    /* background-color: antiquewhite; */
    margin-right: 15px;
    height: 600px;
}

.container-up-right {
    /* background-color: aliceblue; */
}

.image-poster {
    margin-top: 35px;
    margin-left: 16px;
    width: 700px;
    height: 530px;
}

.up-right-left {
    height: 290px;
}

.user-image {
    width: 90px;
}

.up-right-right {
    height: 290px;
    margin-top: 10px;
}

/* .message-button {
    margin-top: 60px;
} */

.back-button {
    width: 80px;
}

.card {
    width: 500px!important;
}