.image-style {
    height:200px;
    width:200px;
}

.details-page {
    height:400px;
    width:100%;
}

.right-corner {
    float:right;
}

.content-place {
    width:80%;
}

.card-style {
    width: 85%;
    margin:auto;
}

.loading {
    height:800px;
}

<<<<<<< HEAD
.content-mobile {
    height: 83%;
    padding-right: 30px;
    padding-top: 5px;
}

.price-post {
    padding-right: 30px;
}

=======
>>>>>>> 868b3e90d38c0db41408702ba47cb3f39818520f
@media only screen and (max-width: 768px) {
    .content-mobile {
        display: none;
    }
}