.products-style {
    padding-left:10%;
}

.image-style {
    height: 180px;
    width: 240px;
}

.details-page {
    height:400px;
    width:100%;
}

.right-corner {
    float:right;
}

.content-place {
    width:80%;
}

.card-style {
    width: 85%;
    margin:0px auto;
    padding: 0px 15px 0px 15px!important;
}

.perant-container {
    height: 850px;
}

.loading {
    height:800px;
}

.content-mobile {
    height: 83%;
    padding-right: 30px;
    padding-top: 5px;
}

.price-post {
    padding-right: 10px;
    padding-top: 120px;
}

@media only screen and (max-width: 768px) {
    .products-style{
        display:flex;
        padding: 0px;
        margin:0px;
        overflow:hidden;
        justify-content:center!important;
    }

    .image-style {
        height:140px!important;
        width:200px!important;
    }

    .content-mobile {
        display: none;
    }

    #d-d-options {
        margin-left: 30px;
    }

    .more-pictures {
        width: 100%!important;
        height: 240px!important;
    }
    
    #products-card {
        width: 385px!important;
    }

    .container-up-right {
        display: flex;
        justify-content: center;
    }

    .image-poster {
        width: 320px!important;
        height: 240px!important;
    }

    .wrapper-details {
        margin-bottom: 550px!important;
    }

    .container-up-left {
        height: 350px!important;
        margin-right: 0px!important;
        margin-left: 0px!important;
        margin-bottom: 10px;
    }

    .container-down-left {
        height: 720px!important;
        margin-right: 0px!important;
        margin-left: 0px!important;
        margin-bottom: 10px;
    }

    .perant-container {
        height: 2650px;
    }
}

.wrapper-details {
    margin-bottom: 40px;
}

.image-button {
    background-color: transparent;
    border: none;
}

.container-up-left{
    /* background-color: antiquewhite; */
    margin-right: 15px;
    height: 600px;
}

.container-down-left {
    margin-right: 15px;
    height: 600px;
}

/* .container-up-right {
    background-color: aliceblue;
} */

.image-poster {
    margin-top: 35px;
    margin-left: 16px;
    width: 700px;
    height: 530px;
}

.up-right-left {
    height: 290px;
}

.user-image {
    width: 90px;
}

.up-right-right {
    height: 290px;
    margin-top: 10px;
}

/* .message-button {
    margin-top: 60px;
} */

.back-button {
    width: 80px;
}

.card {
    width: 500px!important;
}

.more-pictures {
    width: 260px;
    height: 190px;
    margin-bottom: 15px;
}

.previos-pointer {
    cursor: pointer
}

#d-d-options {
    margin-left: 160px;
}

.card-info {
    padding-top: 12px;
}